html, body {
    background-color: #4f4f4f;
    background-image: url(../img/background.png);
}

p {
    text-align: justify;
}

img {
    border: 0px solid;
}

td {
    vertical-align: top;
    
    padding-right: 20px;
}

li a:hover {
    border-bottom: 0px solid;
}

.a-list ul, .a-list ol {
    margin-left: 10px;
}

.a-list ul {
    padding: 0px;
}

.a-list li {
    min-height: 20px;
}

.a-list ul li {
    list-style-image: url(../img/top-level-bullet.png);
}

.a-list ul ul {
    padding-top: 10px;
}

.a-list ul ul li {
    list-style-image: url(../img/second-level-bullet.png);
}

a:link, a:active, a:visited {
    color: #49738b;
    text-decoration: none;
}

a:hover {
    border: 0px solid;
    border-bottom: 1px solid #49738b;
    border-style: dotted;
}

.no-line:hover {
    border-bottom: 0px solid;
}

.header {    
    height: 50px;
    
    background-color: #474c50;
    background-image: url(../img/background-header.png);
    background-repeat: repeat-x;
    background-position: 0% 100%;
}

.logo {    
    background-image: url(../img/logo-typo.png);
    background-repeat: no-repeat;
    background-position: 5px 8px;
}

.logo img {
    padding-top: 23px;
    padding-left: 141px;
}

.author {
    display: block;
}

.a-align-right {
    text-align: right;
}

.menu-item {  
    display: inline-block;

    height: 30px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    
    text-align: center;
}

.menu-item a {
    color: #b8b8b8 !important;
}

.menu-item:hover {
    background-color: #5b6063;
}

.menu-item:hover a {
    color: #ffffff !important;

    text-shadow: 0px 1px 0px #2f3234;
}

.content-wrap {    
    background-color: #E8E8E8;
    background-image: url(../img/content-corner.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.content {
    height: inherit;

    /*padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;*/
    
    background-color: #ffffff;
    border-right: 1px solid #EEE;

    margin-left: -20px;
}

.content-menu {
    margin-right: 20px;
}

.content-menu-background {
    padding-top: 20px;
    margin-bottom: 20px;
}

.content-menu-headline {
    display: block;

    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.bt-androrm {
    background-image: url(../img/button-background.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    
    text-shadow: 1px 1px 0px #5b6469;
    color: #d9dee2;
}

.button:hover {
    cursor: pointer;
}

.inline {
    float: left;
    width: 220px;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}



.param-ref {
    padding-left: 20px;
}

.return-value {
    color: #898989;
}

.a-footnote {    
    margin-top: 10px;
    
    padding-bottom: 10px;
    padding-left: 90px;
    
    background-image: url(../img/footnote-androrm.png);
    background-repeat: no-repeat;
    background-position: 30px 7px;
    
    color: #c1c1c1;
    
    font-size: 8pt;
}

#footnote a {
    margin-right: 10px;
}

.float-left {
    float:left;
}

.half-size {
    text-align: justify;
    
    width: 50%;
}

.inline-image {
    margin-right: 20px;
    margin-left: 20px;
    
    -moz-box-shadow: 0px 0px 30px #e8e8e8;
    -webkit-box-shadow: 0px 0px 30px #e8e8e8;
}

.float-left {
    float: left; 
}

.float-right {
    float: right;
}

.padding-bottom-menu {
    padding-bottom: 20px;
}

.inactive {
    opacity: 0.5;
    
    background-image: url(../img/coming-soon.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.social div {
    opacity: 0.5;
}

.social div:hover {
    opacity: 1;
}

.social-facebook, .social-twitter {
    display: inline-block;
}

.no-background {
    background: transparent;
}

.author {
    margin-top: -15px;
    margin-bottom: 20px;
}

.a-content {
    padding: 30px;
}

.a-content-condensed {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.a-tagline {
    padding-top: 10px;
}

.a-code-caption {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}