html, body {
    margin: 0px 0px 0px 0px;
    background-color: #4f4f4f;
    background-image: url(../img/background.png);
    width: 100%;
    height: 100%;
    
    font-family: arial, sans-serif;
    font-size: 9pt;
    color: #4f4f4f;
}

p {
    text-align: justify;
}

img {
    border: 0px solid;
}

td {
    vertical-align: top;
    
    padding-right: 20px;
}

ul {
    padding: 0px;
}

li {
    height: 20px;
}

ul li {
    list-style-image: url(../img/top-level-bullet.png);
}

ul ul {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

ul ul li {
    list-style-image: url(../img/second-level-bullet.png);
}

pre {
    display: inline;
    
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
    
    border: 1px solid #e2e2e2;
    background-color: #f5f5f5;
    
    padding-left: 3px;
    padding-right: 3px;
}

hr {
    border: 0px solid;
    border-top: 1px solid #e2e2e2;
    
    margin-top: 20px;
}

a:link, a:active, a:visited {
    color: #49738b;
    text-decoration: none;
}

a:hover {
    border: 0px solid;
    border-bottom: 1px solid #49738b;
    border-style: dotted;
}

a:hover.no-line {
    border-bottom: 0px solid;
}

#head {    
    height: 90px;
    
    background-color: #474c50;
    background-image: url(../img/background-header.png);
    background-repeat: repeat-x;
    background-position: 0% 100%;
}

#logo {
    width: 710px;
    height: inherit;
    
    float: left;
    
    background-image: url(../img/logo-typo.png);
    background-repeat: no-repeat;
    background-position: 30px 35px;
}

.page-name {
    padding-top: 50px;
    padding-left: 166px;
}

.author {
    display: block;
    margin-top: -12px;
}

#menu {
    display: table;
    
    height: 88px;
}

.menu-item {
    display: table-cell;
    height: inherit - 2px;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 65px;
    
    text-align: center;
    color: #b8b8b8;
}

.menu-item-selected {
    background-color: #5b6063;
    
    color: #ffffff;
    
    text-shadow: 0px 1px 0px #2f3234;
    
    cursor: pointer;
}

#content-wrap {
    width: 1100px;
    
    background-color: #e8e8e8;
    background-image: url(../img/content-corner.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

#content {
    width: 720px !important;
    height: inherit;
    
    display: table-cell;
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    
    background-color: #ffffff;
}

#content-menu {
    display: table-cell;
    
    vertical-align: top;
    
    width: 350px !important;
}

#content-menu-background {
    padding-top: 20px;
    
    border-bottom: 1px solid #d7d7d7;
}

.button {
    height: 70px;
    
    background-image: url(../img/button-background.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    
    padding-top: 28px;
    
    text-align: center;
    text-shadow: 1px 1px 0px #5b6469;
    color: #d9dee2;
}

.button:hover {
    cursor: pointer;
}

.content-menu {
    padding-left: 30px;
    padding-right:30px;
}

.center {
    text-align: center;
}

.content-menu-headline {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
}

.param-ref {
    padding-left: 20px;
}

.return-value {
    color: #898989;
}

#footnote {    
    margin-top: 10px;
    
    padding-bottom: 10px;
    padding-left: 90px;
    
    background-image: url(../img/footnote-androrm.png);
    background-repeat: no-repeat;
    background-position: 30px 3px;
    
    color: #c1c1c1;
    
    font-size: 8pt;
}

#footnote a {
    margin-right: 10px;
}

.float-left {
    float:left;
}

.half-size {
    text-align: justify;
    
    width: 50%;
}

.inline-image {
    margin-right: 20px;
    margin-left: 20px;
    
    -moz-box-shadow: 0px 0px 30px #e8e8e8;
    -webkit-box-shadow: 0px 0px 30px #e8e8e8;
}

.float-left {
    float: left; 
}

.float-right {
    float: right;
}

.padding-bottom-menu {
    padding-bottom: 20px;
}

.inactive {
    opacity: 0.5;
    
    background-image: url(../img/coming-soon.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
}