<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Androrm - {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
	{% block style %}{% endblock %}
	
	<script type="text/javascript">
	
	    if(!Androrm) { var Androrm = {}; }
	    
	    Androrm.Urls = {
	        home: "{% url index %}",
	        documentation: "{% url documentation_index %}",
	        download: "{% url download_index %}",
	        contribute: "{% url contribute_index %}"
	    };
	    
	</script>
</head>
<body>

    <div id="container">        
        
        <a name="top"></a>
        
        <div id="head">    
                             
            <div id="logo">
                {% block page_title %}{% endblock %}
            </div>
            
            <div id="menu"></div>      
                   
        </div>                
        
        <div id="content-wrap">
            
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            
            <div id="content-menu">
                <div id="content-menu-background">
                    {% block content_menu %}{% endblock %}
                </div>
            </div>
            
        </div>
        
        <div id="footnote">

            <a href="http://github.com/pxlplnt/androrm" class="no-line" target="_blank">
                <img src="{{ MEDIA_URL}}img/footnote-github.png" alt="androrm on github" />
            </a>
            
            Django is a registered trademark of the Django Foundation.
            Android is a registered trademark of Google Inc.

        </div>
    </div>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10680648-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/prototype.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/utils.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/menu.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/initialize.js"></script>
    {% block script %}{% endblock %}
</body>
</html>
