{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_title %}
    <img src="{{ MEDIA_URL }}img/page-home.png" class="page-name" />
{% endblock %}

{% block content %}
    <div class="a-content">
        <div class="a-tagline">
            Sick of repeating yourself?
             <p>
                Androrm offers an easy to use solution to most of your problems.
            </p>
        </div>
        
        <blockquote class="a-main-title">

            Androrm is an <em>object relational mapper</em> especially for android. It will help you develop your applications faster, by taking care of all database related actions, such as table creation, object serialization and deserialization and lookups. Define your models using the classes, that androrm provides, define relationships between them and instantly write queries spanning as many model classes as you want in a one-liner.

            <small>The elders of androrm</small>

        </blockquote>

        <p>
            Click the button on the side, to download the <a href="{% url download_latest %}">latest release</a>, <a href="{% url documentation_installation %}">read the installation guide</a>, do one <a href='{% url documentation_tutorials %}'>tutorial</a> to get you familiarized with how androrm works and keep your application <a href="http://en.wikipedia.org/wiki/Don%27t_repeat_yourself" target="_blank">DRY</a> as you no longer have to write SQL alongside your class definitions. 
        </p>

        <hr />
        
        {% for entry in entries %}
            <article class="a-news-entry">
                <p class="lead">{{ entry.headline }}</p>
                <p class="author">{{ entry.date }}</p>
                
                {% autoescape off %}
                        {{ entry.content|linebreaks }}

                        <small>{{ entry.author }}</small>
                {% endautoescape %}

                {% if not forloop.last %}
                    <hr />
                {% endif %}
            </article>
        {% endfor %}
    </div>
{% endblock %}

{% block content_menu %}
    
    <p class="lead">Download</p>
    
    <div class="btn-wrap lead-button">
        <button class="btn btn-large btn-success btn-latest-release">Latest release {{ version }}</button>
    </div>

    <ul class="content-menu">
        <li><a href="http://github.com/pxlplnt/Androrm" target="_blank">Latest from repository</a></li>
        <li><a href="http://github.com/pxlplnt/Androrm/tree/develop">Current development version</a></li>
    </ul>
    
    <br /><br />
    
    <div class="content-menu padding-bottom-menu center">
        Androrm is <a href="http://opensource.org" target="_blank">open source</a> and distributed under the
        <a href="{% url download_license %}">MIT License</a>.
    </div>
    
{% endblock %}
