{% extends "downloads/index.html" %}

{% block title %}Download | Release version {{ version }}{% endblock %}

{% block script %}

    <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/download.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/lib/prettify.js"></script>
    <script type="text/javascript">
        $(document).observe("dom:loaded", function() {
            prettyPrint();
        })
    </script>

    <script type="text/javascript">
        if(!window.Androrm) { var Androrm = {}; }
        if(!Androrm.Urls) { Androrm.Urls = {}; }

        Androrm.Urls.download_release_tar = "{% url download_version_tar version=version %}";
        Androrm.Urls.download_release_zip = "{% url download_version_zip version=version %}";
    </script>

{% endblock%}

{% block content %}

    <div class="a-content">
        <article>
            <section>
                <p class="lead">
                    Release version {{ version }}
                </p>

                {% autoescape off %}
                    <p>
                        {{ release.description }}
                    </p>
                {% endautoescape %}
            </section>

            <hr />

            <section>
                <p class="lead">
                    Changelog
                </p>

                {% autoescape off %}
                    <p>
                        {{ release.change_log }}
                    </p>
                {% endautoescape %}

                <hr />

                <div class="btn-wrap">

                    {% if release.available_as_tar %}
                        <button id="btn-download-tar" class="btn">Download as <strong>tar.gz</strong></button>
                    {% endif %}

                    {% if release.available_as_zip %}
                        <button id="btn-download-zip" class="btn">Download as <strong>zip</strong></button>
                    {% endif %}

                    <div class="clear"></div>

                </div>

            </section>

        </article>

    </div>

{% endblock %}

{% block menu_content %}
    <li><a href="{% url download_index %}">Downloads</a></li>
    <ul>
        <li>Releases</li>
        <ul>
            {% for release in releases %}
                <li>
                    {% if release.version == version %}
                        {{ version }}
                    {% else %}
                        <a href="{% url download_release version=release.version %}">{{ release.version }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </ul>
{% endblock %}