{% extends "index.html" %}

{% block content %}

    <div class="a-content">
        <div class="hero-unit">
            <h1>Thank you!</h1>

            <blockquote>
                <p>
                    "Free software" is a matter of liberty, not price. To understand the concept, you should think of "free" as in <em>"free speech,"</em> not as in "free beer".
                </p>

                <small>
                    <a href="https://www.gnu.org/philosophy/free-sw.html">
                        The Free Software Foundation
                    </a>
                </small>
            </blockquote>
        </div>

        <p>
            Your support is part of what is keeping androrm alive. Thank you very much for your donation.
        </p>

    </div>

{% endblock %}